table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  border-spacing: 5px;
  padding: 15px; 
  background-color: black;
  color: white;
}

.style1, th, td{
  border: 2px solid white;
}

.jumbotron {
  margin-bottom: 0px !important;
  background-color: lightblue !important;
}

.card {
  background-color: #303030 !important;
  color: white;
  margin-bottom: 0px !important;
}

.card-deck {
  background-color: black !important; 
}

.navbar
{
margin-bottom: 0px !important;
}

.navbar li {
    color: white;
    font-size: 20px;
}
