table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  border-spacing: 5px;
  padding: 15px; 
  background-color: lightblue;
}

.jumbotron {
  margin-bottom: 0px !important;
  background-color:transparent !important;
}

.card {
  background-color: black !important;
  color: white;
}

.card-deck {
  background-color: lightblue !important;
  
}

.navbar
{
margin-bottom: 0px !important;
}

.navbar li {
    color: white;
    font-size: 20px;
}
